@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    min-width: 700px;
  }
}

@media (max-width: 990px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    min-width: 900px;
  }
}

.styled-table {
  background-color: #e4e4e4 !important;
  border-radius: 0.5rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid white !important;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
  background-color: #e4e4e4 !important;
}

.styled-table th {
  font-size: 0.8rem !important;
  background-color: #f4f4f4;
  color: #333333d2 !important;
}

.styled-table td {
  font-size: 0.75rem;
  color: #777777 !important;
}

.outerTableContainer {
  background-color: #f0f0f0;
  padding: 1rem 1rem 0rem 1rem !important;
  border-radius: 0rem 0rem 1rem 1rem;
}

.tableHead {
  font-size: 0.8rem;
}

.listContainer {
  background-color: #bebebe;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.styled-table tbody tr:first-child td:first-child {
  border-top-left-radius: 0.5rem;
}

.styled-table tbody tr:first-child td:last-child {
  border-top-right-radius: 0.5rem;
}

.styled-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

.styled-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.pagination {
  font-size: 0.6rem !important;
  margin: 0.5rem;
}

.pagination .page-link {
  border: none !important;
  background: none !important;
  color: #474747 !important;
}

.pagination .page-item.disabled .page-link {
  color: #474747 !important;
}

.pagination .page-link:hover {
  text-decoration: none;
}

.pagination-divider {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}
